<section class="section">
    <div class="company">
        <h1 class="company-title">Продажа напольных покрытий</h1>
        <div class="company-section">
            <p class="company-text">
                Напольные покрытия от компании «Zorro» — воплощение стиля и качества.
                С нашей помощью вы сможете реализовать самые смелые дизайнерские идеи!
            </p>
            <img src='{{smalImg()}}' class="company-img">
            <img src='{{mobImg()}}' class="mobile-img">
        </div>
        <div class="btn">

            <a routerLink="katalog">Перейти в каталог</a>
            <div class="btn-block">
                <img src = {{vector()}} class="btn-img">
            </div>
        </div>
    </div>
    <img src='{{bigImg()}}' class="bigImg">
</section>

