@import "../../assets/scss/variable.scss";

@mixin checkbox() {

    input[type="checkbox"] {
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 16px;
        height: 14px;
        border: 1px solid $colorGold;
        display: inline-grid;
        place-content: center;
        transform: translateY(-0.075em);
    }

    input[type="checkbox"]::before {
        content: "";
        width: 7px;
        height: 7px;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        background-color: $colorGold;
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1.5);
    }


}