@import '../scss/variable.scss';

@mixin location-font($px, $weight) {
    color: $colorGray;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: $px;
    font-weight: $weight;
}

@mixin flex($height) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height;
}

@mixin imgStyle($width, $height, $path) {
    width: $width;
    height: $height;
    display: flex;
    background-image: url($path);
    background-position: center;
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin flex-column($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex-center($color, $bg, $width, $hg) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: $width;
    height: $hg;
    font-size: 20px;
    font-weight: 500;
    color: $color;
    background: $bg;
}

@mixin fontStyle($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin after($width) {
    content: '';
    display: block;
    position: relative;
    width: $width;
    height: 2px;
    background: #C68F4E;
    top: 15px;
    left: -69px;

}

@mixin titleStyle() {
    color: var(--heading-color, #202020);
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 50px;
}

@mixin imgStyleCovrolin($opacity, $url) {
    position: relative;
    left: 25%;
    opacity: $opacity;
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    top: 21%;
}

@mixin imgPosition($left, $opacity) {
    position: absolute;
    left: $left;
    width: 48px;
    height: 48px;
    background: #C68F4E;
    opacity: $opacity;
}

@mixin vector($url) {
    width: 25px;
    height: 25px;
    align-self: center;
    cursor: pointer;
    background-image: url($url)
}



@mixin range-slider($width,
    $height,
    $input-top,
    $input-bg-color,
    $input-thumb-color,
    $float: none,
    $input-height: 20px,
    $input-border-radius: 14px) {
    position: relative;
    width: $width;
    height: $height;
    float: $float;
    text-align: center;

    input[type="range"] {
        pointer-events: none;
        position: absolute;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        border: none;
        overflow: hidden;
        left: 0;
        top: $input-top;
        width: $width;
        outline: none;
        height: $input-height;
        margin: 0;
        padding: 0;
    }

    input[type="range"]::-webkit-slider-thumb {
        pointer-events: all;
        position: relative;
        z-index: 1;
        outline: 0;
        -webkit-appearance: none;
        width: $input-height;
        height: $input-height;
        border: none;
    }

    input[type="range"]::-moz-range-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        -moz-appearance: none;
        width: $input-height;
        height: $input-height;
        border: none;
        border-radius: $input-border-radius;
        background-image: linear-gradient(to bottom,
                lighten($input-thumb-color, 60%) 0,
                $input-thumb-color 100%);
    }

    input[type="range"]::-ms-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        -ms-appearance: none;
        width: $input-height;
        height: $input-height;
        border-radius: $input-border-radius;
        border: 0;
        background-image: linear-gradient(to bottom,
                lighten($input-thumb-color, 60%) 0,
                $input-thumb-color 100%);
        /* W3C */
    }

    input[type="range"]::-moz-range-track {
        position: relative;
        z-index: -1;
        background-color: rgba(0, 0, 0, 1);
        border: 0;
    }

    input[type="range"]:last-of-type::-moz-range-track {
        -moz-appearance: none;
        background: none transparent;
        border: 0;
    }

    input[type="range"]::-moz-focus-outer {
        border: 0;
    }
}