$colorGray: var(--text-color, #666);
$colorGold: var(--gold, #C68F4E);
$titaniumWhite:#E4E4E4;
$size20: 20px;

$rectangle: "/assets/imgs/katalog/Rectangle.png";
$laminate: "/assets/imgs/katalog/laminate.png";
$linoleum: "/assets/imgs/katalog/linoleum.png";
$karpet: "/assets/imgs/katalog/carpet.png";
$tiles: "/assets/imgs/katalog/tiles.png";
$products: "/assets/imgs/katalog/products.png";
$export:"/assets/imgs/sale/export.png";
$escom:"/assets/imgs/sale/escom.png";
$stratos:"/assets/imgs/sale/stratos.png";
$fast:"/assets/imgs/sale/fast.png";
$imgWidth649: 649px;
$imgWidth379: 379px;
$imgWidth513: 513px;
$imgHeight310: 310px;