$colorGray: var(--text-color, #666);
$colorGold: var(--gold, #C68F4E);
$titaniumWhite:#E4E4E4;
$size20: 20px;

$rectangle: "/assets/imgs/dashborders/katalog/Rectangle.png";
$laminate: "/assets/imgs/dashborders/katalog/laminate.png";
$linoleum: "/assets/imgs/dashborders/katalog/linoleum.png";
$karpet: "/assets/imgs/dashborders/katalog/carpet.png";
$tiles: "/assets/imgs/dashborders/katalog/tiles.png";
$products: "/assets/imgs/dashborders/katalog/products.png";
$export:"/assets/imgs/dashborders/sale/export.png";
$escom:"/assets/imgs/dashborders/sale/escom.png";
$stratos:"/assets/imgs/dashborders/sale/stratos.png";
$fast:"/assets/imgs/dashborders/sale/fast.png";
$eye:"../../../../assets/imgs/katalogGroup/covrolins/eye.png";
$eye2:"../../../../assets/imgs/katalogGroup/covrolins/eye2.png";
$star:"../../../../assets/imgs/katalogGroup/covrolins/star.png";
$star2:"../../../../assets/imgs/katalogGroup/covrolins/star2.png";
$left:'../../../../assets/imgs/katalogGroup/covrolins/vector_left.png';
$right:'../../../../assets/imgs/katalogGroup/covrolins/vector_right.png';
$imgWidth649: 649px;
$imgWidth379: 379px;
$imgWidth513: 513px;
$imgHeight310: 310px;