<div class="flooring">
    <div class="flooring-sel">
        <div class="sel-text">
            <div class="span-block">
                <span class="text1">Быстрый подбор покрытия</span>
                <span class="text2">Шаг 1 из 6</span>
            </div>
            <div class="info">
                <h1 class="title">Выберите вид напольного покрытия</h1>
                <p class="par">Различные виды напольных покрытый</p>
            </div>
        </div>

        <div class="sel-btns">
            <div class="back">
                <img class="back-img" [src]='leftVector()'>
                <p>Назад</p>
            </div>
            <div class="next">
                <p>Далее</p>
                <img class="back-img" [src]='rightVector()'>
            </div>
        </div>
    </div>
    <section class="sel-imgs">
        @for(floor of floorType(); track floor; let idx = $index){
        <article class="block">

            @if(idx===0){
            <div class="img-block">
                <img [src]="floor.img" class="floor-img">
            </div>
            }@else{
            <img [src]="floor.img" class="floor-img">
            }

            <label class="form-control">
                <input type="radio" class="block-input" name="floor">
                <span>
                    {{floor.name}}
                </span>
            </label>
        </article>
        }

    </section>
</div>