@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/variable.scss';


.covrolin {
    position: relative;
    height: 440px;
    width: inherit;

    @media screen and (max-width:426px) {
       
        margin-top: 35px;
    }

    .img-eye {
        @include imgPosition(0, 0.8, 48px);

        @media screen and (max-width:1024px) {
            @include imgPosition(0, 0.8, 35px);
        }

        .eye {
            @include imgStyleCovrolin(0.7, $eye)
        }

        &:hover {
            opacity: 1;
            transition: all 0.3s;
        }

        &:hover .eye {
            cursor: grab;
            background-image: url($eye2);
            opacity: 1;
            transition: all 0.3s;
        }
    }

    .img-star {
        @include imgPosition(86%, 0.8, 48px);

        @media screen and (max-width:1024px) {
            @include imgPosition(84%, 0.8, 35px);
        }

        @media screen and (max-width:769px) {
            @include imgPosition(80%, 0.8, 35px);
        }
        @media screen and (max-width:426px) {
            @include imgPosition(91%, 0.8, 35px);
        }
        .star {
            @include imgStyleCovrolin(1, $star)
        }

        &:hover {
            opacity: 1;
            transition: all 0.3s;
        }

        &:hover .star {
            cursor: grab;
            background-image: url($star2);
            transition: all 0.3s;
        }
    }


    .covrolin-img {
        height: 205px;
        width: 100%;

        @media screen and (max-width:1025px) {
            height: 180px;
        }
    }

    .covrolin-about {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (max-width:1025px) {
            gap: 0;
            font-size: 14px;
        }

        .covrolin-block {
            display: flex;
            justify-content: space-between;

            p {
                color: #666;
                font-size: 16px;
                font-weight: 500;

                @media screen and (max-width:1025px) {
                    font-size: 12px;
                }
            }

            .flag {
                width: 25px;
                height: 20px;
            }

            .sum {
                color: var(--Gold, #C68F4E);
                font-size: 20px;
                font-weight: 500;

                @media screen and (max-width:1025px) {
                    font-size: 16px;
                }
            }
        }

        .title {
            color: #202020;
            font-size: 18px;
            font-weight: 600;

            @media screen and (max-width:1025px) {
                font-size: 13px;
                margin: 7px 0;
            }
        }

        .sel-btns {
            display: flex;
            gap: 5px;
            margin-top: 15px;

            @media(max-width:1024px) {
                gap: 25px;
                margin-top: 0;
            }

            @media (max-width:426px) {
                // position: relative;
                left: 0;
                top: 495px;
                gap: 7px;
                flex-direction: column;
                align-items: center;
            }

            @media (max-width:376px) {
                gap: 8px
            }

            .order {
                @include flex-center($colorGold, #F6F6F6, 204px, 45px);
                border: 1px solid $colorGold;

                @media(max-width:1024px) {
                    @include flex-center($colorGold, #F6F6F6, 150px, 30px);
                    font-size: 12px;

                    p {
                        margin: 0;
                    }
                }

                @media(max-width:426px) {
                    font-size: 10px;
                    text-align: center;
                }

                .order-img {
                    width: 5.632px;
                    height: 11.997px;
                }

                font-size: 16px
            }

            .shopping-cart {
                @include flex-center(#FFF, $colorGold, 204px, 45px);

                @media(max-width:1024px) {
                    @include flex-center(#FFF, $colorGold, 150px, 30px);
                    font-size: 12px;

                    p {
                        margin: 0;
                    }
                }

                @media(max-width:426px) {
                    font-size: 10px;
                }

                font-size: 16px
            }
        }
    }
}