@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/variable.scss';


.covrolin {
    position: relative;
    height: 440px;
    width: inherit;
  

    .img-eye {
        @include imgPosition(0, 0.8);

        .eye {
            @include imgStyleCovrolin(0.7, $eye)
        }

        &:hover {
            opacity: 1;
            transition: all 0.3s;
        }

        &:hover .eye {
            cursor: grab;
            background-image: url($eye2);
            opacity: 1;
            transition: all 0.3s;
        }
    }

    .img-star {
        @include imgPosition(86%, 0.8);

        .star {
            @include imgStyleCovrolin(1, $star)
        }

        &:hover {
            opacity: 1;
            transition: all 0.3s;
        }

        &:hover .star {
            cursor: grab;
            background-image: url($star2);
            transition: all 0.3s;
        }
    }


    .covrolin-img {
        height: 205px;
        width: 100%;
    }

    .covrolin-about {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .covrolin-block {
            display: flex;
            justify-content: space-between;

            p {
                color: #666;
                font-size: 16px;
                font-weight: 500;
            }

            .flag {
                width: 25px;
                height: 20px;
            }

            .sum {
                color: var(--Gold, #C68F4E);
                font-size: 20px;
                font-weight: 500;
            }
        }

        .title {
            color: #202020;
            font-size: 18px;
            font-weight: 600;
        }

        .sel-btns {
            display: flex;
            gap: 5px;
            margin-top: 15px;

            @media(max-width:1024px) {
                gap: 25px;
            }

            @media (max-width:426px) {
                position: relative;
                left: 0;
                top: 495px;
            }

            @media (max-width:376px) {
                gap: 8px
            }

            .back {
                @include flex-center($colorGold, #F6F6F6, 204px, 45px);
                border: 1px solid $colorGold;

                @media(max-width:1024px) {
                    @include flex-center($colorGold, #F6F6F6, 150px, 45px);
                }

                .back-img {
                    width: 5.632px;
                    height: 11.997px;
                }

                font-size: 16px
            }

            .next {
                @include flex-center(#FFF, $colorGold, 204px, 45px);

                @media(max-width:1024px) {
                    @include flex-center(#FFF, $colorGold, 150px, 45px);
                }

                font-size: 16px
            }
        }
    }
}