<div class="container katalog">
    <h1 class="title">Каталог</h1>
    <section class="section">
        <div class="tiles">
            <p class="section-text">Дизайн-плитка ПВХ</p>
        </div>
        <div class="laminate">
            <p class="section-text">Ламинат</p>
        </div>
        <div class="linoleum">
            <p class="section-text">Линолеум</p>
        </div>
    </section>

    <section class="section">
        <div class="carpet">
            <p class="section-text">Ковролин</p>
        </div>
        <div class="carpet-tiles">
            <p class="section-text">Ковровая плитка</p>
        </div>
        <div class="products">
            <p class="section-text">Сопутствующие товары</p>
        </div>
    </section>
</div>

<app-flooring-sel></app-flooring-sel>
