<div class="container">
    <h1 class="title">Каталог ковролин</h1>
    <div class="block">
        <nav class="bar">
        </nav>
        <div class="katalog">
            <div class="search">
                <p>Search:</p>
                <input autocomplete="off" type="text" [(ngModel)]="title">
            </div>
            <div class="covrolins">
                @for(covrolin of vewCovrolins(); track covrolin){
                <app-covrolin [covrolin]="covrolin"></app-covrolin>
                }
            </div>

            <div class="page">
                <div class="size">
                    Всего {{ covrolins().length}} товара (-ов)
                </div>
                <app-pagination [covrolins]="covrolins" 
                (covrolinsChange)="goToPage($event)"></app-pagination>
                <!-- <div class="goToPage">
                    <label>Перейти на страницу</label>
                    <input class='page-input' type="text">
                </div> -->

            </div>
        </div>



    </div>


</div>