<div class="container">
    <h1 class="title">Каталог ковролин</h1>
    <div class="filter" (click)="showBar()">
        <p>Фильтры</p>
    </div>
    <div class="block">
        <nav class="bar" [class.show]="isBar">
            <app-covrolin-parametr (parametrsEvent)="covrolinsChange($event)"></app-covrolin-parametr>
        </nav>

        <section class="katalog">
            <div class="search">
                <p>Search:</p>
                <input autocomplete="off"
                type="text" [(ngModel)]="title" (input)="searchKovrolin()">
            </div>
            @if(isVisible()){
                <div class="covrolins">
                    @for(covrolin of vewCovrolins(); track covrolin){
                    <app-covrolin [covrolin]="covrolin"></app-covrolin>
                    }
                </div>
            } @else{
                <p>page isn't found</p>
            }
            <div class="page">
                <div class="size">
                    Всего {{ covrolins()?.length}} товара (-ов)
                </div>
                <app-pagination 
                    [covrolins]="covrolins" 
                    (covrolinsChange)="goToPage($event)"
                    (visibleChange)="visibleChange($event)">
                </app-pagination>
            </div>
        </section>
    </div>
</div>