<div class="parametr">
    <form class="form" [formGroup]="parametrs" (ngSubmit)="submit()">
        <div class="mony">
            <label>Цена</label>
            <div class="mony-range">
                <input type="number" [(value)]="this.parametrs.controls['rangeMin'].value" formControlName="rangeMin"
                    class="range">
                <input type="number" [(value)]="this.parametrs.controls['rangeMax'].value" formControlName="rangeMax"
                    class="range">
            </div>

            <p>Price Range</p>
            <section class="range-slider" #range>
                <span class="rangeValues"></span>
                <input formControlName="rangeMin" [(value)]="this.parametrs.controls['rangeMin'].value" value="500"
                    min="500" max="5000" step="500" type="range">
                <input formControlName="rangeMax" [(value)]="this.parametrs.controls['rangeMax'].value" value="5000"
                    min="500" max="5000" step="500" type="range">
            </section>
        </div>
        <div class="rooms" formArrayName="rooms">
            <p class="title">Тип помещения ({{typeOfRoom.length}})</p>
            <label class="room">
                <input type="checkbox" checked="true">
                Все категории
            </label>

            @for(room of getRoomsControls()["controls"]; track $index){

            <label class="room">
                <input type="checkbox" formControlName='{{$index}}' >
                {{typeOfRoom[$index]}}
            </label>
            }
        </div>
        <div class="colors" formArrayName="colors">
            @for(room of getColorsControls()["controls"]; track $index){

                <div class="box" [style.backgroundColor]="colors[$index]?.color" (click)="checked($index)">
                    <label class="room" [class.block]="!parametrs.controls['colors'].value[$index]" >
                        <input type="checkbox" formControlName='{{$index}}'  >
                        <!-- {{typeOfRoom[$index]}} -->
                    </label>
                </div>
               
                }
        </div>

        <button>submit</button>
    </form>



</div>