<div class="container">
    <h1 class="title">Отзывы</h1>
    <div class="reviews">
        <section class="section">
            <span class="section-span">Андрей, 12.09.21</span>
            <h3 class="section-title">Отличный продукт</h3>
            <img src='{{fiveStar}}' class="section-img">
            <p class="section-text">
                Отличный продукт!!! Использовал ламинат для укладки на стену, не разу не пожалел что купил именно в этом магазине. На высоте абсолютно все! Продукт, обслуживание и отношение. Спасибо вам большое.
            </p>
        </section>
        <section class="section ">
            <span class="section-span">Наталья, 02.09.21</span>
            <h3 class="section-title">Спасибо большое</h3>
            <img src='{{fiveStar}}' class="section-img">
            <p class="section-text">
                Спасибо большое сотрудникам салона Zfloor! Я покупала ламинат и после укладки его не хватило ...6 см (. Докупать 2 м как-то не хотелось- поэтому я спросила - не подарят ли мне образец)- ответ был- пожалуйста. Была пятница- настроение в пятницу задаёт тон на все выходные. Спасибо большое за индивидуальный подход к каждому клиенту. Очень рекомендую Zfloor покупателям, а салону желаю процветания Наталья
            </p>
            <div class="btn">
                Читать все отзывы
                <img src='{{goldRight}}'>
            </div>
        </section>
        <section class="section comments">
            <span class="section-span">Николай, 25.08.21</span>
            <h3 class="section-title">Хороший магазин</h3>
            <img src='{{fourStar}}' class="section-img">
            <p class="section-text">
                Хороший магазин с большим выбором, возможностью доставки и укладки с гарантией. Удачи!
            </p>
        </section>
    </div>
</div>