<div class="container">
    <h1 class="title">Отзывы</h1>
    <section class="reviews">
        @for(review of reviews(); track review){
            <section class="section">
                <span class="section-span">{{review.name}}</span>
                <h3 class="section-title"> {{review.title}}</h3>
                <img [src] ='review.img' class="section-img">
                <p class="section-text">{{review.comment}}</p>
            </section>
        }
        <div class="btn">
            Читать все отзывы
            <img src='{{goldRight}}'>
        </div>
    </section>
</div>