<section class="container">
    <h1 class="news-title">Новости</h1>
    <section class="news">
        @for(new of news(); track new){
        <article class="section">
            <img [src]='new.img' class="section-img">
            <div class="news-text">
                <div class="text-block">
                    <h3>{{new.title}}</h3>
                    <p>{{new.text}}</p>
                </div>
                <div class="btn">
                    {{new.btn.text}}
                    <img [src]='new.btn.img'>
                </div>
            </div>
        </article>
        }@empty {
        <p> There are no items. </p>
        }
    </section>
</section>