<nav class="container header-bar">
    <div class="catalog">
        <a class="burger-txt" routerLink="katalog">
            <img src='{{burger}}' class="catalog-burger">
            Каталог
        </a>
    </div>
    <ul class="navigation">
        @for(root of href(); track root.href){
            <a [routerLink]="root.href">{{root.title}}</a>
        }@empty{
            <span>The collection is empty</span>
        }
    </ul>
    <div class="resurces">
        <div class="img-block">
            @for(img of imgs(); track img){
                <img [src]='img' class="resurces-img">
            }@empty{
                <span>The collection is empty</span>
            }
        </div>
    </div>
</nav>
