
<div class="container header">
    <a routerLink="">
        <img src='{{logo}}' class="logo">
    </a>
    <div class="order">
        <div class="phone">
            <img src='{{call}}' class="phone-call">
            <p class="phone-number">8(800) 775-10-92</p>
        </div>
        <button class="order-call">Заказать обратный звонок</button>
    </div>
    <div class="location">
        <img src='{{location}}' class="location-img">
        <div class="location-address">
            <p class="address-home">Москва, Электродная улица, д. 2 стр. 34</p>
            <p class="address-homeOpen">Часы работы: пн-пт, 9:00-18:00</p>
        </div>
    </div>
    <div class="search">
        <img src='{{search}}' class="search-img">
        <input type="text" class="search-input" placeholder="Поиск">
    </div>

</div>