@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/variable.scss';

.flooring {
    display: flex;
    justify-content: center;
    gap: 196px;
    background: #F6F6F6;
    margin: 90px 0;
    padding-bottom: 90px;

    @media(max-width:1024px) {
        gap: 120px
    }

    @media(max-width:769px) {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .flooring-sel {
        @include flex-column(80px);
        padding-top: 142px;

        @media(max-width:769px) {
            align-items: center;
            width: fit-content;
            padding-top: 45px;
        }

        @media(max-width:426px) {
            gap: 0;
        }

        .sel-text {
            @include flex-column(55px);

            .span-block {
                display: flex;
                justify-content: space-between;

                .text1 {
                    @include fontStyle($colorGray, 11px, 400)
                }

                .text2 {
                    @include fontStyle($colorGold, 11px, 500);
                    font-variant-numeric: lining-nums proportional-nums;
                }

            }

            .info {
                @include flex-column(20px);

                .title {
                    @include fontStyle(#202020, 43px, 700);
                    width: 453px;

                    @media (max-width:1024px) {
                        font-size: 26px;
                        width: 380px;
                    }

                    @media (max-width:376px) {
                        font-size: 16px;
                        width: 300px;
                    }
                }

                .par {
                    @include fontStyle($colorGray, 18px, 400);
                }

            }

        }

        .sel-btns {
            display: flex;
            gap: 45px;

            @media(max-width:1024px) {
                gap: 90px;
            }

            @media (max-width:426px) {
                position: relative;
                left: 0;
                top: 307px;
            }

            @media (max-width:376px) {
                gap: 8px
            }

            .back {
                @include flex-center($colorGold, #F6F6F6, 204px, 55px);
                border: 1px solid $colorGold;
                align-items: center;

                @media(max-width:1024px) {
                    @include flex-center($colorGold, #F6F6F6, 150px, 45px);
                }

                .back-img {
                    width: 5.632px;
                    height: 11.997px;
                }
            }

            .next {
                @include flex-center(#FFF, $colorGold, 204px, 55px);

                @media(max-width:1024px) {
                    @include flex-center(#FFF, $colorGold, 150px, 45px);
                }
            }
        }
    }

    .sel-imgs {
        gap: 50px;
        padding-top: 142px;
        display: grid;
        grid-template-columns: 90px 90px 90px;

        @media(max-width:769px) {
            width: 384px;
        }

        @media (max-width:426px) {
            width: fit-content;
            padding-top: 0;
            gap: 10px;
            flex-direction: column-reverse;
            margin-top: -55px;
        }

        .block {
            @include flex-column(14px);

            .img-block {
                border: 1px solid $colorGold;
                height: 91px;
                width: 95px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media (max-width:1024px) {
                    width: 40px;
                    height: 40px;
                }

            }



        }


        .form-control {
            font-weight: bold;
            line-height: 1.1;
            display: flex;
            align-items: center;
            gap: 5px;

            @media (max-width:1280px) {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            span {
                color: var(--heading-color, #202020);
                font-size: 9px;
                font-weight: 400;
            }
        }

        .form-control+.form-control {
            margin-top: 1em;
        }



        .floor-img {
            height: 91px;
            width: 95px;

            @media (max-width:1024px) {
                width: 40px;
                height: 40px;
            }
        }
    }
}


input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 26px;
    height: 23px;
    border: 1px solid $colorGold;
    border-radius: 50%;
    display: grid;
    place-content: center;
    display: grid;
    place-content: center;

    @media (max-width:1280px) {
        width: 20px;
        height: 20px;
    }
}

input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: $colorGold;
}

input[type="radio"]:checked::before {
    transform: scale(1.5);
    border-radius: 50%;
}